body {
    font-family: 'Merriweather', serif;
}

.gradient-agot {
    background: repeating-linear-gradient(to right,
            #606dbc,
            #606dbc 20px,
            #465298 20px,
            #465298 40px);
}

.gradient-acok {
    background: repeating-linear-gradient(to right,
            #ffd300,
            #ffd300 20px,
            #ffaa1d 20px,
            #ffaa1d 40px);
}

.gradient-asos {
    background: repeating-linear-gradient(to right,
            #028a0f,
            #028a0f 20px,
            #234f1e 20px,
            #234f1e 40px);
}

.gradient-affc {
    background: repeating-linear-gradient(to right,
            #990f02,
            #990f02 20px,
            #4e0707 20px,
            #4e0707 40px);
}

.gradient-adwd {
    background: repeating-linear-gradient(to right,
            #f2eddc,
            #f2eddc 20px,
            #4fb9af 20px,
            #4fb9af 40px);
}

/* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

/* Very light scaling for our illustration */
.title {
    color: #ffffff;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: calc(30px + 1.8vw);
    line-height: 105%;
    margin: 0;
    text-shadow: 2px 2px 0px #000;
}

/* Very light scaling for our illustration */
.illustration {
    max-width: 100%;
    max-height: var(--image-max-width);
    margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
    margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
    font-family: inherit;
    font-size: calc(10px + 0.390625vw);
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
}

/* Interactive image */
.illustration:active {
    transform: translateY(5px);
}

/* Button dip
  - Toggling this class on and off will move it down and up again
  - The button transition property above determines the speed of the translate (500ms)
  */
.dipped {
    transform: translateY(5px);
}

/* Links that open files in the editor */
.fileopener {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-secondary);
}

.fileopener:hover {
    border-bottom: 3px solid var(--color-secondary);
}

/* Added by me actually */
.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    max-width: 700px;
    width: 90vw;
}

.text-block {
    flex: 1;
    color: #ffffff;
    text-align: right;
    margin-top: 5px;
    text-shadow: 1px 1px 0px #000;
}

#chapterLink {
    color: white;
}

.footer-svg-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.footer-svg {
    height: 2.75rem;
    width: auto;
}